header {

font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 10px rgba(0,0,0);
    background: linear-gradient(rgb(120, 38, 0),rgba(0,0,0));
    color: #fff;
    text-align: center;
    padding: 10px;  
}

body {    
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(120, 38, 0),rgba(0,0,0), rgb(120, 38, 0));
    background-image: url("Image_salle_de_sport.jpg");
    margin: 0;
    padding: 0;
}

h2 {
    padding-top: 10px;
    text-align: center;
    color: #fff;
}

.Régionsud {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.régioncentre {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.régionnord {
    display: flex;
    justify-content: center;
    margin: 50px;    
}

h3  { 
    color: #fff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(to bottom right, rgb(120, 38, 0),rgba(0,0,0), rgb(120, 38, 0)); 
    
}
.barreDeRecherche {
    display: flex;
    flex-direction:column;
}

#bouton {
    display: flex;
    margin-left: 5px;
}

