body {    
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(120, 38, 0),rgba(0,0,0), rgb(120, 38, 0));
    background-image: url("Image_salle_de_sport.jpg");
    margin: 0;
    padding: 0;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 10px rgba(0,0,0);
    background: linear-gradient(rgb(120, 38, 0),rgba(0,0,0));
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: rgba(255,255,255);
    text-shadow: 0px 0px 10px rgba(0,0,0);
}

.Groupe1 {
    text-align: center;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    text-shadow: 0px 0px 10px rgba(0,0,0);
    color: #fff;
    background: linear-gradient(to top, rgb(120, 38, 0),rgba(0,0,0));
    border-radius: 20px;
}

.Groupe1 div {
    margin: auto;
    min-width: auto;
    max-width: 800px;
    min-height: 50px;
    border-radius: 20px;
    background-color: rgb(200, 60, 0)
}

.Groupe1 a {
    float: left;
    display: inline;
    text-align: center;
    padding: 17px 20px;
    color: #fff;
    text-shadow: 10px 0px 20px rgba(0,0,0);
    font-size: 18px;
    transition-duration: 0.4s;
}

.active{
    border-radius: 20px 0px 0px 20px;
}

.Groupe1 a:hover {
    background-color: rgb(0, 0, 0)
}

.Groupe1 form {
    padding: 14px 16px;
}

.Groupe1 input {
    font-size: 17px;
    border-radius: 10px;
}

.Groupe1 button {
    background-color: black;
    text-align: center;
    color: #fff;
    font-size: 17px;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin-left: 15px;
}

.Groupe1 button:hover {
    background-color: rgb(120, 38, 0);
}

#footer{
	background: linear-gradient(to bottom left, rgb(120, 38, 0),rgba(0,0,0), rgb(120, 38, 0));
	padding-top: 5%;
    padding-bottom: 80px;
	
}

.social-links h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.social-icons{
	display: flex;
    flex-direction: column;
    gap: 12px;
	color: #ffffff;
    font-size: 15px;

}

.social-icons a{
	color: #ffffff;
}

li{
	list-style: none;
}

.lien-u h2{
	padding-bottom: 15px;
    color: #fff;
	font-size: 20px;
    font-weight: 600;
}

.lien-u{
	line-height: 32px;
}

.lien-u li i{
	font-size: 14px;
    padding-right: 8px;
    color: #ffffff;
}

.lien-u li a{
	color: #ffffff;
    font-size: 15px;
    font-weight: 500;
	color: #ffffff;
}

.address h2{
	padding-bottom: 15px;
	font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.links li a{
	color: #ffffff;
    font-size: 15px;
    font-weight: 500;
	color: #ffffff;
}

.links li i{
	font-size: 15px;
    padding-right: 8px;
	color: #ffffff;
}

.links{
    font-weight: 500;
    font-size: 15px;
	line-height: 32px;
	color: #ffffff;
}

.copy-right {
	padding: 2%;
    background: #000000;
    color: #fff;
    text-align: center;
    text-decoration:none;
}

.copy-right a{
	color: #fcd462;
    font-weight: 500;
}