body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right,rgb(200, 200, 200),rgb(255, 255, 255));
    margin: 0;
    padding: 0;
}

header {
    text-shadow: 0px 0px 10px rgba(0,0,0);
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: rgba(255,255,255);
    text-shadow: 0px 0px 10px rgba(0,0,0);
}

.Présentation {
    max-width: 50%;
    margin: 75px auto ;
    padding: 25px;
    background: linear-gradient(to right rgb(0, 0, 0));
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.582);
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.582);
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255,255,255);
    text-shadow: 0px 0px 10px rgba(0,0,0);
    text-align: center;
    text-decoration: white;
    
}

#button-visite {
    color:#2D241E;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: white;    
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255,255,255);
    text-shadow: 0px 0px 10px rgba(0,0,0);
}

ul {
    list-style: disc;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255,255,255);
    text-shadow: 0px 0px 10px rgba(0,0,0);
}
h3 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255,255,255);
    text-shadow: 0px 0px 10px rgba(0,0,0);
    
}


h4 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255,255,255);
    text-shadow: 0px 0px 10px rgba(0,0,0);
    
}


